*.csv
*.ckpt
*.egg-info
*.log
*.pt
*.pth

.hydra/
__pycache__/
.mypy_cache/
wandb/
.VSCodeCounter/

base_datasets/
base_models/
output/
llava/
!configs/llava/
llava_setup/LLaVA/

history.sqlite
run/online_generate_withkey.sh